.search-form{
font-size: 18px;
display: flex;
justify-content: center;
max-width: 100%;

&__button {
background: linear-gradient(135deg, #1280A9 0%, #1C6EA4 50%, #2c378d 100%);
box-shadow: 3px 1px 7px 1px #0d8cbe ;
    color: white;
    border-radius: 5px;
    
  }

}


.load-more{
 
    background: linear-gradient(135deg, #1280A9 0%, #1C6EA4 50%, #2c378d 100%);
      box-shadow: 3px 1px 7px 1px #0d8cbe;
      color: white;
      border-radius: 5px;
      margin: 20px auto;
      display: flex;
}
 .is-hidden {
   display: none;
 }

.spinner {
width: 14px;
  height: 14px;
  border: 3px dotted transparent;
  border-left: 3px dotted #66FFE6;
  border-right: 3px dotted #66FFE6;
  border-bottom: 3px dotted #66FFE6;
  border-top: 3px dotted #66FFE6;
  border-radius: 14px;
  animation: spin 1s linear infinite;
  margin: auto 5px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}